
    .header{
        width:100%;
        height:100px;
        border:1px solid orange;
    }
           
    .nav{
       width:125px;
       height:250px;
       border:1px solid green;
    }
    
    .sidebar{
        width:125px;
        height:250px;
        border:1px solid blue;
    }
    
    .main{
       height:350px;
       marginï¼š0px auto;
       }
       
   .footer{
       width:100%;
       height:50px;
       border:1px solid red;       
   }
   
   .floatleft{
        float:left;
   }
   
   .floatright{
         float:right;
   }
   
   .clearfloat{
       clear:both;
   }
   
  body {
     background-image: url('../images/back.jpg');
}
 
      a:link { color: blue; font-weight: bold;}
      a:visited {color:green;}
      /*This is a cute comment.*/
      a:hover {color:orange; text-decoration: none;}
      a:active{color:red;}

