.felt {
 width: 300px;
 height: 300px;
 background-image: url('../img/felt.jpg');
 background-color: green;
 position: relative;
 top: 25px;
 left: 25px;
}

.back {
 position: absolute;
 top: 40px;
 left: 110px;
 z-index: 1;
}

.gradient {
 background-image: url('../img/gradient.jpg');
 background-repeat: repeat-x;
 background-color: gray;
}

.a {
height: 100px;
width: 100px;
background-image: url('../img/jackclubs.png');
background-color: green;
}

.b {
height: 100px;
width: 100px;
background-image: url('../img/jackclubs.png');
background-color: blue;
position: relative;
top: -25px;
}

