.felt {
 width: 300px;
 height: 300px;
 background-image: url('../img/felt.jpg');
 background-color: green;
 position: relative;
 top: 25px;
 left: 25px;
 text-aligin:middle;
}

.jackclubs {
 position: absolute;
 top: 95px;
 left:683px;
  background-image: url('../img/jackclubs.jpg');
 z-index: 4;
  text-aligin:middle;
}

.kingspades {
 position: absolute;
 top:65px;
 left: 683px;
   background-image: url('../img/kingspades.jpg');
 z-index: 2;
  text-aligin:middle;
}

.queenhearts {
 position: absolute;
 top: 80px;
 left: 683px;
   background-image: url('../img/queenhearts.jpg');
 z-index: 3;
  text-aligin:middle;
}

.tendiamonds {
 position: absolute;
 top: 110px;
 left:683px;
 background-image: url('../img/tendiamonds.jpg');
 z-index: 5;
  text-aligin:middle;
}

.card {
 position: absolute;
 top: 50px;
 left: 130px;
 background-image: url('../img/card.jpg');
 z-index: 1;
  text-aligin:middle;
}


body{
       background-image: url('../images/gradient.jpg');
       background-color:lightyellow;
    }
